.mainVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
}
.mainVideo > video {
    width: 70%;
}

.bottomVideoGrid > video{
    width: 60%;
}